@import '_var.scss';

.header_otherpage {
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 110px 0;
}

.main_page_title {
    @include font-size(36px);
    text-align: center;
    color: #fff;
    font-family: "PoppinsBold", sans-serif;
    text-transform: capitalize;
    margin-bottom: 24px;
}

.otherpage_fon {
    background-color: $white_color;
}

.otherpage_block {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.otherpage_item {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}

.opi_descr {
    font-family: "PoppinsBold", sans-serif;
    font-style: italic;
    font-weight: bold;
    @include font-size(24px);
    line-height: (28px / 24px);
    color: $color_blues;
    margin-bottom: 24px;
}

.opi_title {
    @include font-size(36px);
    line-height: (43px / 36px);
    font-family: "PoppinsBold", sans-serif;
    color: $color_title;
    margin-bottom: 25px;
}

.opi_text {
    @include font-size(15px);
    line-height: (27px / 15px);
    margin-bottom: 40px;
}

.opi_text p {
    margin-bottom: 10px;
}

.opi_text p:last-child {
    margin-bottom: 0;
}

.block_one_image_over {
    outline: 0;
    padding: 30px;
    background-color: #fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

.block_one_image {
    padding: 0;
    margin: 0;
    z-index: 2;
}

.block_one_image img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 2;
}

.boio_white {
    position: absolute;
    left: -209px;
    bottom: -122px;
    z-index: -10;
    transform: rotate(68deg);
    width: 500px;
    height: 500px;
    background-color: #0a6db7;
}

.otherpage_fon_gray {
    background-color: #f7f7f7;
}

.boio_gray {
    background-color: #f7f7f7;
}

.boio_blue {
    background-color: #0a6db7;
    left: 271px;
    top: -122px;
    transform: rotate(71deg);
}

.othepage_command_box {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.othepage_command_items {
    border: 1px solid #dddddd;
    border-radius: 5px;
    @include trans;
    padding: 90px 0 30px 0;
    text-align: center;
}

.othepage_command_items:hover {
    box-shadow: inset 2px 2px 11px 5px #efefef;
}

.otherpage_command_picture {
    width: 200px;
    height: 200px;
    margin: 0 auto 25px auto;
}

.otherpage_command_picture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.otherpage_command_title {
    margin-bottom: 18px;
}

.otherpage_command_title h4 {
    @include font-size(24px);
    line-height: (28px / 24px);
    font-family: "PoppinsBold", sans-serif;
}

.otherpage_command_prof {
    @include font-size(15px);
    line-height: (27px / 15px);
    margin-bottom: 25px;
}

.ocsocialbox {
    border-top: 1px solid #efefef;
    padding-top: 30px;
    text-align: center;
    padding-right: -30px;
}

.comand_social {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.comand_social li {
    display: inline-block;
}

.comand_social li a {
    display: inline-block;
    padding: 10px;
    @include font-size(20px);
    color: $color_blues;
    @include trans;
}

.comand_social li a:hover {
    color: darken($color_blues, 10%);
}

.video_fon {
    background: #000 url('../img/otherpage/videobg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 430px;
    text-align: center;
}

.watch_about_title {
    @include font-size(36px);
    line-height: (43px / 36px);
    font-family: "PoppinsBold", sans-serif;
    color: #fff;
    margin-bottom: 32px;
    text-transform: capitalize;
}

.video_fon .block_descr {
    color: #fff;
}

/* Video Popup Css */

.video-play-button {
    display: inline-block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
    position: relative;
    margin: 40px 0 55px 0;
}

.video-play-button:focus,
.video-play-button:active {
    outline: none;
    box-shadow: none;
}

.video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #253cac;
    animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: all 200ms;
    background: lighten(#253cac, 10%);
}

.video-play-button:hover:after {
    background: darken(#253cac, 10%);
}

.video-play-button i {
    color: #fff;
    z-index: 2;
    position: absolute;
    font-size: 45px;
    left: 10px;
    top: 0;
}

.video-popup-content p {
    color: #ffffff;
    font-size: 19px;
    line-height: 1.5;
}

.video-popup-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffffff;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

@-webkit-keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

.otherpage_item {
    width: 50%;
    padding-right: 15px;
    padding-left: 0px;
}

.skill {
    margin-bottom: 35px;
    position: relative;
    overflow-x: hidden;
}

.skill>p {
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: 18px;
    font-weight: 700;
    color: #1a1716;
    margin: 0;
}

.skill:before {
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 16px;
    content: "";
    display: block;
    position: absolute;
    background: $color_blues;
    bottom: 0;
}

.skill-bar {
    width: 100%;
    height: 12px;
    bottom: 2px;
    left: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #efefef;
    display: block;
    position: relative;
}

/* SKILL 1 */

.skill-bar span {
    position: absolute;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 5px 0;
    font-weight: 500;
}

.skill-bar {
    position: relative;
}

.skill1 .skill-count1 {
    right: 0;
}

.skill2 .skill-count2 {
    right: 0;
}

.skill3 .skill-count3 {
    right: 0;
}

.skill4 .skill-count4 {
    right: 0;
}

.skill5 .skill-count5 {
    right: 0;
}

.skill6 .skill-count6 {
    right: 0;
}
