.container {
  position: relative;
}

.header_block {
  background-color: rgb(48, 48, 56);
  padding: 0px;
  margin: 0px;
}
.header_top {
  height: 50px;
}

.header_top_social {
  height: 50px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.header_top_social_left {
  color: rgb(255, 255, 255);
  position: relative;
  padding-left: 10px;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.46667;
}
.header_top_social_left span {
  display: inline-block;
  margin-left: 5px;
}

.header_top_social_right li {
 display: inline-block;
}
.header_top_social_right li a {
 display: inline-block;
 padding: 5px;
 color: $color_blues;
 @include font-size(20px);
}
.header_top_social_right li a:hover {
 color: $white_color;
}

.top_line {
 background-color: $white_color;
 // height: 90px;
 width: 100%;
 z-index: 100;
 padding: 20px 0;

}

.top_line_box {
 display: flex;
 // height: 90px;
 align-items: center;
 justify-content: space-between;
}

.top_line_logo {
 color: #fff;
}

.top_line_menu {
 padding: 0;
 margin: 0;
}
.top_line_block {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.top_call_box {
 padding: 0;
 margin: 0;
 display: flex;
 justify-content: flex-start;
}
.top_call_box_item {
/*  width: 33.33333%; */
min-height: 42px;
padding-left: 3px;
padding-right: 3px;
margin-right: 20px;
}
.top_call_box_item:last-child {
 margin-right: 0;

}
.tci_locate {
  display: inline-block;
  vertical-align: top;
  @include font-size(40px);
  color:  $color_blues;
}
.tci_info {
  display: inline-block;
}

.tci_title, .tci_descr {
 white-space: pre;
}
.tci_title {
 font-family: "LatoBold", sans-serif;
 @include font-size(15px);
 line-height: (22px / 15px);
 color:#242424;
}
.tci_descr {
 @include font-size(14px);
 line-height: (21px / 14px);
 color:#505050;
}
/* .top_line {margin-bottom: 80px;} */
.mobile_gamburger {
  display: none;
}
.top_menu {
 height: 80px;
/*  position: fixed;
 width: 100%;
 z-index: 1;
 top: 120px; */
 padding: 0;
 margin: 0;
 background-color: #302E4E;
 display: flex;
 justify-content: flex-start;
 align-content: center;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
 background-color: #fff;
}
.top_menu_block {
 height: 80px;
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
/* Оформление нового горизонтального меню */
#mainmenu {
  height: 40px;
  position: relative;
  padding: 0;
  z-index: 10; }
  #mainmenu ul, #mainmenu ul ul, #mainmenu ul ul li {
    list-style: none;
    padding: 0;
    margin: 0; }
    #mainmenu ul {
      padding-top: 10px;
      text-align: center;
      text-transform: uppercase; }
      #mainmenu ul li {
        padding: 0;
        margin: 0;
        position: relative;
        display: inline-block;
      }
      #mainmenu ul li a {
        color: #fff;
        font-family: "PoppinsRegular", sans-serif;
        padding: 30px 20px;
        @include font-size(15px);
        text-decoration: none;
        @include trans;
        position: relative;}
        #mainmenu ul li a:hover {
          padding: 30px 20px;}
          #mainmenu > ul > li.parent > a{
            padding: 30px 20px;
          }
          #mainmenu ul li a:hover:before {
            top:20px;
            left:50%;
            margin-left: -10px;
            position: absolute;
            content: '';
            width: 20px;
            height: 2px;
            background-color: #fff;
          }
/** Это пример работы треугольника возле ссылким с выпадашкой  **/
#mainmenu > ul > li.parent:after {
  content: "\f103";
  color: #fff;
  font-family: "FontAwesome";
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 0 0;
  font-size: 1.0rem; }
/*************************** Âûïàäàþùèå ïîäïóíêòû **/
#mainmenu ul li ul {
  background: #302E4E;
  border-radius: 3px;
  @include trans;
  text-transform: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 40px;
  font-size: 12px;
  margin-top: 20px;
  height: auto;
  min-width: 300px;
  width: 100%; }
  #mainmenu ul li:hover > ul {
    border-top: 5px solid $color_blues;
    border-bottom: 5px solid #302E4E;
    opacity: 1;
    visibility: visible;
    transition: margin 0.3s ease 0s;
    margin: 0;
    z-index: 11; }
    #mainmenu > ul > li > ul > li.parent > a::after {
      content: "\f103";
      font-family: "FontAwesome";
      display: inline-block;
      vertical-align: middle;
      margin: 0px 0 0 8px;
      font-size: 1.0rem; }
      #mainmenu ul li ul li {
        display: block;
        position: relative;
        left: 0;
        height: auto;
        text-align: left !important; }
        #mainmenu ul li ul li a {
          display: block;
          padding: 10px 15px 10px 25px;
          border: none;
          font-size: .95rem;
          text-transform: uppercase;
          position: relative; }
          #mainmenu ul li ul li a:hover:before {
            display: none;
          }
/*************************** Âûïàäàþùèå ïóíêòû âòîðîãî óðîâíÿ **/
#mainmenu ul li ul li ul {
  border-top: 5px solid $color_blues;
  top: 0;
  left: 100%;
  margin: 0 0 0 20px;
}
#mainmenu ul ul li:first-child > a {
  border-radius: 3px 3px 0 0; }
  #mainmenu > ul > li.parent:hover > a::before {
    visibility: visible;
    @include trans; }
    .mainbuttons {
      display: inline-block;
      padding: 15px 20px 12px 20px;
      border-radius: 5px;
      color: #fff;
      text-transform: uppercase;
      @include font-size(15px);
      line-height: (15px / 15px);
      background: #0a6db7;
      @include trans;
    }
    .mainbuttons:hover {
      background-color: #253cac;
    }
/* */
.header_slider {
  background-image: url('../img/sliderheader/slide-bg-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height:754px;
  position: relative;
}

.header_page_bunner {
 background-image: url('../img/sliderheader/slide-bg-2.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: top center;
 padding: 110px 0;
 position: relative;
}


.header_page_bunner:before {
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(#000, 0.65);
  /*             filter: blur(10px); */
}
.main_page_title {
  font-size: 2.25rem;
  text-align: center;
  color: #fff;
  font-family: "PoppinsBold", sans-serif;
  text-transform: capitalize;
  margin-bottom: 24px;
}
.breadcrumbs_box {
  text-align: center;
}
.breadcrumbs  {
  // overflow: hidden;
  display: inline-block;
}
.breadcrumbs {
list-style: none;
  }
.breadcrumbs li {
  padding: .2rem 1.5rem .2rem 1.5rem;
  float: left;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.breadcrumbs li::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -5px;
  content: "\f101";
  font-family: "FontAwesome";
}
.breadcrumbs li:last-child::before {
display: none;
}


.breadcrumbs a {
        float: left;
        font-size: 1.125rem;
        line-height: 1.77778;
        text-decoration: none;
        color: #fff;
        position: relative;

}
















.header_slider:before {
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(#000, 0.65);
  /*             filter: blur(10px); */
}
.header_content {
  min-height:754px;
  position: relative;
  display: flex;
  align-items: center;
}
.header_content_text {
  color: #ffffff;
  text-transform: capitalize;
  width: 70%;
  position: relative;
}
.header_content_h {
  @include font-size(50px);
  line-height: (60px / 50px);
  font-family: "PoppinsRegular", sans-serif;
  margin-bottom: 10px;
}
.header_content_z {
  @include font-size(59px);
  line-height: (70px / 59px);
  font-family: "PoppinsBold", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}
.header_content_d {
  font-family: "LatoLight", sans-serif;
  @include font-size(20px);
  line-height: (30px / 20px);
  margin-bottom: 25px;
}
.header_content_buttons {
  padding: 0;
  margin: 0;
}
.header_content_buttons li {
  display: inline-block;
  margin-right: 30px;
}
.header_buttons_us {
  display: inline-block;
  padding: 17px 30px 14px 30px;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  @include font-size(15px);
  line-height: (15px / 15px);
  border: 1px solid #0a6db7;
  background: #0a6db7;
  @include trans;
}
.header_buttons_us:hover {
  background-color: #253cac;
  border: 1px solid #253cac;
}
.header_buttons_ser {
  display: inline-block;
  padding: 17px 30px 14px 30px;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  @include font-size(15px);
  line-height: (15px / 15px);
  background: transparent;
  border: 1px solid #fff;
  @include trans;
}
.header_buttons_ser:hover {
  background-color: #253cac;
  border: 1px solid #253cac;
}

#my-menu {
  background-color: #302E4E;
}

.mm-menu a, .mm-menu a:active, .mm-menu a:hover, .mm-menu a:link, .mm-menu a:visited {
  color: #fff;
}

.hidden {
  display: none;
}




















.header_fon {
	background-color: red;
	min-height: 600px;

}

header {
  text-align: center;
  color:#fff;
}