@import '_var.scss';
/* стили формы обратной связи */
/* стили формы обратной связи */

.forms-call {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	border: 0;
	overflow: hidden;
}

.form_fon_title {
	color: #fff;
	text-align: center;
	@include font-size(25px);
}
.form_fon_title span {
	text-transform: uppercase;
	color: $color_button ;
}

.forms-call label{
	margin:10px 0;
	display:block;
}

.input_form {
	display:block;
	width:90%;
	margin:10px auto 0;
	height:40px;
	@include font-size(20px);
	line-height: 40px;
	color:#000;
	border: 1px solid $grey_color;
	text-indent:10px;
	@include trans;
}

.input-border {
	border:1px solid #E5722C;

}

.input_form:focus,
.input_form:hover  {
	border: 1px solid $grey_color;
	border-bottom: 1px solid $color_button;

}
.input-border:focus,
.input-border:hover {
	border: 1px solid #E5722C;
	border-bottom: 1px solid $color_button;
}

.submit {
	display:block;
	width: 90%;
	margin:10px auto 0;
	height:40px;
	line-height: 40px;
	/* 	font-weight: bold; */
	background-color: $color_button;
	color: #fff;
	cursor: pointer;
	font-size: 1.2rem;
	text-align: center;
	outline: 0;
	border: 0;
	cursor: pointer;
	@include trans;
}

.submit:hover {
	background-color: $color_hoverbutton;
}
.form_info {
	color: #7E7E7E;
	width: 80%;
	margin: 20px auto;
	@include font-size(12px);
}
.checkbox_box {
	margin: 10px auto;
	width: 90%;
	padding: 0;
	color: #fff;

}
.big_form_case .checkbox_box {
        margin: 10px auto;
        width: 38%;
        }

.radioterms {
	width: 10%;
	float: left;
	margin-top: 10px;
}

.link_form {
	float: right;
	color: #95989A;
	width: 87%;
	top: -6px;
	@include font-size(10px);
	position: relative;

}
.link_form:before {
	content: '';
	display: inline-block;
	position: absolute;
	border-bottom: 1px dashed #95989A;
	top: 112%;
	width: 78%;
}
.form_fon_mphone .link_form:before {
	content: '';
	display: inline-block;
	position: absolute;
	border-bottom: 1px dashed #95989A;
	top: 112%;
	width: 58%;
}

.link_form a {
	color: #95989A;
	@include trans;
}

.link_form a:hover .link_form:before {
	border-bottom: 1px dashed #fff;

}
.big_form_case .link_form a {
        color: #ffffff;
        }
.big_form_case  .link_form:before {
        border-bottom: 1px dashed #ffffff;        width: 81%;
        }













.form_fon_mphone .form_fon_title {
	margin-bottom: 15px;
}
.form_fon_mphone .form_fon_title,
.form_fon_mphone .form_fon_title span {
	color: #000;
}

.form_fon_mphone .link_form a:hover  {
	color: $grey_color;

}

/*
стилизую форму всплывашку для обратной связи */


.form-callback {
	max-width: 750px;
	overflow: hidden;
	padding: 20px;
	position: relative;
	/* 	background-color:$color_button; */
	transition: all 0.5s else;

	margin: auto;
}
.form-callback_iner {
	background-color:$color_button;
	padding-top: 20px;
}

.form-callback h4 {
	/* color: $button-hover; */
	text-align: center;
	margin-bottom: 30px;
	@include font-size(30px);
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	line-height: (37px / 30px);
	margin-bottom: 20px;

}
.form-callback h5 {
	width: 75%;
	text-align: center;
	margin: 0 auto;
	@include font-size(25px);
	line-height: (30px / 25px);
	color: #000;
	font-weight: normal;

}

.form-callback_item  {
	margin-top: -1px;
	padding-top: 15px;
}

.form-callback_item .input_form  {
	color: $grey_color;
	font-size: 0.95rem;
}

.label_name {
	margin-left: 5%;
}

.form-callback .button-call {
	float: none;
	text-align: center;
	color: #fff;
	margin-top: 20px;
}

.form-callback .link_form a {
	color: #fff;
}

.form-callback .link_form:before {
	border-bottom: 1px dashed #fff;
	width: 75%;
}
/*  стилизую кнопки закрытия формы */
.forms-call .mfp-close {
	position: absolute;
	top: 4px;
	right: 4px;
	opacity: 1;
	width: 30px;
	height: 30px;
	line-height: 30px;
	@include font-size(30px);
	border-radius: 50%;
	background-color: $grey_color;
	border: 1px solid #fff;
	transition: all .75s ease;
}

.forms-call .mfp-close:hover {
	color: lighten(#000, 10%);
}

 /* переписать */
.forms-calldecor {
	position: relative;
}

.forms-calldecor .success {
	color: #fff;
	background-color: $color_button;
	position: absolute;
	z-index: 1;
	left: 0;
	z-index: 1100;
	top: -100%;
    width: 100%;
    height: 100%;
    display: flex;
   	justify-content: center;
   	flex-direction: column;
  	align-items: center;
  	opacity: 0;
  	padding-right: 20px;
  	padding-left: 20px;
  	transition: all 3.0s ease; }

.forms-calldecor .success.active{
top: 0;
opacity: 1;
}
.forms-calldecor .success p {
text-transform: uppercase;
display: flex;
align-self: center;
color: #fff;
font-size: 20px;
margin: auto;
text-align: center; }

/* // долюно работать анимация всплывашки */
/* overlay at start */
.mfp-fade.mfp-bg {
opacity: 0;
transition: all 0.615s ease-out; }
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
opacity: 0.8; }

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
opacity: 0; }

 /* content at start */
 .mfp-fade.mfp-wrap .mfp-content {
opacity: 0; }
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
opacity: 1;
transition: all 0.615s ease-out;
transform: translateY(1%); }

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
opacity: 0;
transform: translateY(-120%);
}

.footer_fob {
width: 100%;
}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

/* :-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
:-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
:focus::-webkit-input-placeholder {text-indent: 110%; transition: text-indent 0.3s ease;}
:focus::-moz-placeholder          {text-indent: 110%; transition: text-indent 0.3s ease;}
:focus:-moz-placeholder           {text-indent: 110%; transition: text-indent 0.3s ease;}
:focus:-ms-input-placeholder      {text-indent: 110%; transition: text-indent 0.3s ease;}
*/